* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 700px;
  background-color: darkcyan;
  border-radius: 2px;
  padding: 20px;
  text-align: center; /* Adicionando para alinhar o conteúdo ao centro */
  margin-bottom: 5px;
  margin-top: 5px;
}

h1 {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "sans-serif";
  padding: 5px;
}

img {
  width: 400px;
  border-radius: 2px;
  display: block; /* Para centralizar a imagem */
  margin: 0 auto; /* Para centralizar a imagem */
}

p {
  background-color: #d9d9d9;
  margin: 10px;
  padding: 10px;
}

li {
  list-style: none;
}

@media (max-width: 650px) {
  section {
    width: auto;
  }
}
